<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microservice.mapper.SchedulerTaskCronMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.microservice.entity.SchedulerTaskCron">
        <id column="task_cron_id" property="taskCronId" />
        <result column="task_cron_registry_detail_id" property="taskCronRegistryDetailId" />
        <result column="task_cron_app_name" property="taskCronAppName" />
        <result column="task_cron_desc" property="taskCronDesc" />
        <result column="task_cron_job_handler" property="taskCronJobHandler" />
        <result column="task_cron_param" property="taskCronParam" />
        <result column="task_cron_expression" property="taskCronExpression" />
        <result column="task_cron_status" property="taskCronStatus" />
        <result column="task_cron_create_time" property="taskCronCreateTime" />
        <result column="task_cron_write_log" property="taskCronWriteLog" />
    </resultMap>

    <select id="tasksByParams" resultType="com.microservice.dto.SchedulerTaskCronRequestDto">
        SELECT * FROM `scheduler_task_cron` t
        <where>
            <if test="param.taskCronAppName != null and param.taskCronAppName != ''">
                AND t.`task_cron_app_name` = #{param.taskCronAppName}
            </if>
            <if test="param.taskCronDesc != null and param.taskCronDesc != ''">
                AND t.`task_cron_desc` like concat('%', #{param.taskCronDesc},'%')
            </if>
            <if test="param.taskCronJobHandler != null and param.taskCronJobHandler != ''">
                AND t.`task_cron_job_handler` like concat('%', #{param.taskCronJobHandler},'%')
            </if>
            <if test="param.taskCronStatus != null and param.taskCronStatus != ''">
                AND t.`task_cron_status` = #{param.taskCronStatus}
            </if>
        </where>
    </select>

</mapper>
