<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microservice.mapper.SchedulerTaskGivenMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.microservice.entity.SchedulerTaskGiven">
        <id column="task_given_id" property="taskGivenId" />
        <result column="task_given_registry_detail_id" property="taskGivenRegistryDetailId" />
        <result column="task_given_app_name" property="taskGivenAppName" />
        <result column="task_given_desc" property="taskGivenDesc" />
        <result column="task_given_job_handler" property="taskGivenJobHandler" />
        <result column="task_given_param" property="taskGivenParam" />
        <result column="task_given_time" property="taskGivenTime" />
        <result column="task_given_delayed" property="taskGivenDelayed" />
        <result column="task_given_status" property="taskGivenStatus" />
        <result column="task_given_execute_status" property="taskGivenExecuteStatus" />
        <result column="task_given_last_execute_time" property="taskGivenLastExecuteTime" />
        <result column="task_given_retry_count" property="taskGivenRetryCount" />
        <result column="task_given_retry_delayed" property="taskGivenRetryDelayed" />
        <result column="task_given_retry_max" property="taskGivenRetryMax" />
        <result column="task_given_create_time" property="taskGivenCreateTime" />
        <result column="task_given_write_log" property="taskGivenWriteLog" />
    </resultMap>

    <select id="tasksByParams" resultType="com.microservice.dto.SchedulerTaskGivenRequestDto">
        SELECT * FROM `scheduler_task_given` t
        <where>
            <if test="param.taskGivenAppName != null and param.taskGivenAppName != ''">
                AND t.`task_given_app_name` = #{param.taskGivenAppName}
            </if>
            <if test="param.taskGivenDesc != null and param.taskGivenDesc != ''">
                AND t.`task_given_desc` like concat('%', #{param.taskGivenDesc},'%')
            </if>
            <if test="param.taskGivenJobHandler != null and param.taskGivenJobHandler != ''">
                AND t.`task_given_job_handler` like concat('%', #{param.taskGivenJobHandler},'%')
            </if>
            <if test="param.taskGivenStatus != null and param.taskGivenStatus != ''">
                AND t.`task_given_status` = #{param.taskGivenStatus}
            </if>
        </where>
    </select>
</mapper>
