<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microservice.mapper.SchedulerRegistryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.microservice.entity.SchedulerRegistry">
        <id column="registry_id" property="registryId" />
        <result column="registry_app_name" property="registryAppName" />
        <result column="registry_desc" property="registryDesc" />
        <result column="registry_create_time" property="registryCreateTime" />
    </resultMap>

    <resultMap id="registryAndDetail" type="com.microservice.dto.SchedulerRegistryRequestDto">
        <id column="registry_id" property="registryId" />
        <result column="registry_app_name" property="registryAppName" />
        <result column="registry_desc" property="registryDesc" />
        <result column="registry_create_time" property="registryCreateTime" />

        <collection property="registryDetails" ofType="com.microservice.dto.SchedulerRegistryDetailRequestDto">
            <id column="register_detail_id" property="registerDetailId" />
            <result column="register_detail_registry_id" property="registerDetailRegistryId" />
            <result column="register_detail_app_name" property="registerDetailAppName" />
            <result column="register_detail_ip" property="registerDetailIp" />
            <result column="register_detail_port" property="registerDetailPort" />
            <result column="register_detail_sort" property="registerDetailSort" />
            <result column="register_detail_status" property="registerDetailStatus" />
            <result column="register_detail_online_time" property="registerDetailOnlineTime" />
            <result column="register_detail_offline_time" property="registerDetailOfflineTime" />
            <result column="register_detail_create_time" property="registerDetailCreateTime" />
        </collection>
    </resultMap>

    <select id="findRegistryByAppName" resultMap="registryAndDetail">
        SELECT * FROM `scheduler_registry` r LEFT JOIN `scheduler_registry_detail` d
        ON r.`registry_id` = d.`register_detail_registry_id`
        WHERE r.`registry_app_name` = #{param.registryAppName}
    </select>

    <select id="allActuatorsPage" resultType="com.microservice.dto.SchedulerRegistryDetailRequestDto">
        SELECT * FROM `scheduler_registry` r LEFT JOIN `scheduler_registry_detail` d
        ON r.`registry_id` = d.`register_detail_registry_id`
        <where>
            <if test="param.registryAppName != null and param.registryAppName != ''">
                AND r.`registry_app_name` = #{param.registryAppName}
            </if>
        </where>
    </select>

</mapper>
